.container {
    display: flex;
    flex-direction: row;
}

.bar-container {
    border-style: solid;
    border-width: 2px;
    border-radius: 9px;
    border-color: #535bf2;

    width: 100%;

    padding: 4px;

    background: #adebeb33;
    display: flex;
    flex-direction: row;
}

.mana-display {
    padding: 1rem;
    margin-right: 1rem;
}